.App {
  background-color: #467591;
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'all-questions-container' 'all-questions-cards';
  grid-gap: 1em;
}
