.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 60% auto 5%; /* Changed the middle row to auto */
  grid-template-areas:
    'header'
    'all-questions-container' 'all-questions-cards'
    'footer';
  grid-gap: 1em;
}
