.selected-question-card {
  background-color: aliceblue;
  margin: 0 4rem;
  border-radius: 15px;
  padding: 3rem 2rem;
}

.answer {
  color: #c58103;
  font-size: 1.75rem;
  font-weight: bold;
}

.title-topic {
  font-size: 2.25rem;
}

.title-question {
  font-size: 1.75em;
}
